<%= form_with(model: meeting) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="book_title">タイトル</label>
    <%= form.text_field :name %>
  </div>

  <div class="field">
   <label for="book_title">内容</label>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <label for="book_title">日時</label>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="actions">
    <%= form.submit "更新する" %>
  </div>
<% end %>
