<p id="notice"><%= notice %></p>

<h1>【スケジュール一覧】</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.content %></td>
        <td><%= meeting.start_time.strftime("%Y　%m/%d　%H:%M") %></td>
        <td><%= link_to '詳細', meeting %></td>
        <td><%= link_to '編集', edit_meeting_path(meeting) %></td>
        <td><%= link_to '削除', meeting, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>【スケジュール追加】</h1>
<%= form_with(model: @meeting, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= form.text_field :name %>
  </div>
  
  <br>

  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_field :content %>
  </div>
  
  <br>

  <div class="time">
    <div class="form-tag">日時</div>
    <%= form.datetime_select :start_time %>
  </div>
  
  <br>

 <div class="submit">
    <%= form.submit "追加" %>
 </div>
<% end %>

<br>

<h1>【カレンダー】</h1>
<%= month_calendar(events: @meetings) do |date, meetings| %>
  <%= date.day %>

  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting_path(meeting.id) do %>
        <%= meeting.start_time.strftime("%H:%M") %> <%= meeting.name %>
      <%end%>
    </div>
  <%end%>
<%end%>