<p id="notice"><%= notice %></p>

<h1>【スケジュール詳細】</h1>

<br> 

<h2>
  <strong>タイトル:</strong>
  <%= @meeting.name %>
</h2>

<h2>
  <strong>内容:</strong>
  <%= @meeting.content %>
</h2>

<h4>
  <strong>日時:</strong>
  <%= @meeting.start_time.strftime("%Y　%m/%d　%H:%M") %>
</h4>

<h3>
  <%= link_to '編集', edit_meeting_path(@meeting) %> |
  <%= link_to '戻る', meetings_path %> |
  <%= link_to '削除', meeting_path(@meeting.id), method: :delete, data: { confirm: '本当に削除しますか?' } %>
</h3>
